@use "../../assets/sass/variables" as *;

.item-card {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  width: 71vw;
  background-color: $colour-item-background;
  color: $colour-item-paragraph;
}

.inactive {
  text-decoration: line-through;
}

.active {
  text-decoration: none;
}

// @media screen and (min-width: 600px) {
//   .item-card {
//     width: 31vw;
//   }
// }
