@use "../../assets/sass/variables" as *;

.item-card {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid $colour-black;
}

.inactive {
  text-decoration: line-through;
}

.active {
  text-decoration: none;
}
