@use "./assets/sass/variables" as *;

.app {
  text-align: center;
  background-color: $colour-background;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
