@import url("https://fonts.googleapis.com/css2?family=Pontano+Sans&family=Stint+Ultra+Expanded&display=swap");
//--FONT
$font-heading: "Stint Ultra Expanded", cursive;
$font-paragraph: "Pontano Sans", sans-serif;

//--COLOURS
$colour-white: #fffffe;
$colour-black: #00000f;

$colour-background: #f3d2c1;
$colour-card-background: #fef6e4;
$colour-headline: #001858;
$colour-card-paragraph: #172c66;
$colour-item-background: #001858;
$colour-item-paragraph: #fef6e4;
$colour-button: #f582ae;
